#waiter
{
	margin-left : 10px;
	border-radius : 5px 5px 5px 5px;
	border : 1px solid #000;
	width : 29%;
	float : left;
}

#tablelist
{
	margin-left : 10px;
	border-radius : 5px 5px 5px 5px;
	border : 1px solid #000;
	width : 29%;
	float : left;
}

#tablewaiter
{
	margin-left : 10px;
	border-radius : 5px 5px 5px 5px;
	border : 1px solid #000;
	width : 29%;
	float : left;
}

#waiterlist
{
	margin-left : 10px;
	border-radius : 5px 5px 5px 5px;
	border : 1px solid #000;
	width : 29%;
	float : left;
}

#addwaiter
{
	padding-left : 4%;
	background : #ffffff;
	border-radius : 0px 0px 10px 10px;
	box-shadow : 1px 1px 15px 0px;
	font-weight: bold;
	line-height : 35px;
	margin-top : 0px;
}


.gbutton
{
	outline-color: invert;
	 outline-style: none;
	 outline-width: medium;
	 background : transparent;
	 border : none;
}

#btnsubmit
{
	margin-left : 30%;
}

body
{
	background: url('/static/pat-12.png') repeat;
}

input
{
	height : 30px;
	border-radius : 8px 8px 8px 8px;
}

#login
{
	position : absolute;
	left : 40%;
	top : 25%;
	background : #fff;
	box-shadow : 1px 1px 15px 0px;
	border-radius : 5px 5px 5px 5px;
	border : 1px solid #000;
	width : 20%;
	padding : 10px;
}

td
{
	border-bottom : 1px solid #000000;
	
}
