{% extends "base.html" %}
{% block content %}
<div id="login">
	<h1 align="center">Login Screen</h1>
	<form action="/manage/login/" method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<button id="btnsubmit" class="gbutton"><img src="/static/btnsubmit.png" />
		</button>
	</form>
</div>
{% endblock %}
