{% extends 'base2.html' %}
{% block content %}
<div id="warmp1">
	<header>
		<div id="welcome" align="center"><img src="/static/img/ui-13.png" width="442"/>
		</div>
	</header>
	<div id="conten1t" align="center">
		<div id="logo-rest" align="center">
			<img src="/static/img/ui-14.png"/>
		</div>
		<div id="tablen" align="center">
			<h2>Enter Confirmation Code</h2>

		</div>
		<form action="/checknew/{{number}}">
			<input id="num_table" maxlength="5" type="number" name="codenum"/>
			<input type="submit" id="but1" width="546" height="172" name="testing"  value="Confirm" />
	</div>
	</form>
</div>
{% endblock %}
