{% extends 'base2.html'%}
{% block content %}
<script>
	setTimeout(function() {
		window.location.replace("/customer/restaurants/");
	}, 5000); 
</script>
<div id="warmp">
	<div id="content">
		<div id="logo" align="center"><img src="/static/img/logo1-10.png" width="300"/>
		</div>
	</div>
	<footer align="center">
		<img src="/static/img/turbit-09.png"/>
	</footer>
</div>
{% endblock %}
