{% extends 'base2.html' %}
{% block content %}
<div id="warmp1">
	<header>
		<div id="logo2" align="center"><img src="/static/img/ui-10.png" width="217"/>
		</div>
	</header>
	<div id="conten1t" align="center">
		<div id="nearm" align="center">
			<h2>Near by</h2>
		</div>
		<div id="nearl" align="center">
			<table width="100%" border="0" cellspacing="2" cellpadding="2">
				<tr>
					<td id="td1"><a href="/customer/choosetable/">The Restaurant number 1</a></td>
					<td id="td2">30 m</td>
				</tr>
				<tr>
					<td id="td1">The Restaurant number 2</td>
					<td id="td2">120 m</td>
				</tr>
				<tr>
					<td id="td1">The Restaurant number 3</td>
					<td id="td2">343 m</td>
				</tr>
				<tr>
					<td id="td1">The Restaurant number 4</td>
					<td id="td2">678 m</td>
				</tr>
				<tr>
					<td id="td1">The Restaurant number 5</td>
					<td id="td2">1.2 km</td>
				</tr>
				<tr>
					<td id="td1">The Restaurant number 6</td>
					<td id="td2">2.1 km</td>
				</tr>
			</table>
		</div>
	</div>
	<footer align="center">
		<img src="img/turbit-09.png"/>
	</footer>
</div>
{% endblock %}
