@charset "utf-8";
/* CSS Document */
body{
	margin:0px ;	
}
#warmp{
	background:#ddd url(img/bg-09.jpg) no-repeat;
	width:1080px;
	height:1820px;
	position:absolute;
}
#warmp1{
	background:#ddd url(img/bg1-291.jpg) no-repeat;
	width:1080px;
	height:1820px;
	position:absolute;
}
#logo{
	margin-top:75%;	
}

#logo2{
	margin-top:3%;	
}
#logo-rest{
	margin-top:15%;	
}
content1{
	width:896px;
	height:1125px;
	position:absolute;
}
#welcome{
	padding-top: 5%;
	
	
}

#num_table{
	background: url(img/ui-15.png) no-repeat;
width: 713px;
height: 284px;
border: none;
text-align: center;
font-size: 130px;
font-weight: bold;
}
#num_table:Hover{
	border:1 solid #039;
}
#num_table:active{
border:none;	
}

#but1{
	background:url(img/ui-but-16.png);
	width:546px;
	height:172px;
	border:none;
	font-family:Tahoma, Geneva, sans-serif;
 font-size:55px;
 font-weight:bold;
 color:#fff;
 margin-top: 150px;
}

#but2{
	background: url(img/main-21.png);
	width:609px;
	height:609px;
	border:none;
 margin-top: 0px;
 margin-bottom:50px;
}
#but2:hover, #but2:active{
	background: url(img/main--25.png);
}
#men-cat{
	padding-top:35px;
	padding-left:8%;
}

#buttons-cat{
	margin-top:56px;	
}

a:active {
 outline: none;
}
a:focus {
 -moz-outline-style: none;
}
a, input {
 outline-color: invert;
 outline-style: none;
 outline-width: medium;
 
}
#but1:hover{
	background:url(img/ui-but-18.png);
	width:546px;
	height:172px;
}
#buttons2{
	padding-top:50px;
}
#bb1 {
	padding-bottom:35px;
}
#banner{
	padding-top:50px
	}

#nearm{
	width:80%;
	margin-top:55px;
	line-height:100px;
	background:#F5F5F5;
	border-radius:25px 25px 0 0 ;	
}
#nearl{
	width:80%;
	background:#F5F5F5;
	
	border-radius:0 0 25px 25px;
	
}
#td1{
	padding-left:25px;
	font:Tahoma !important;
	font-weight:bold;
	font-size:46px;
	color:#1A1A1A;
	line-height:170px;
	border-bottom:1px solid #666;
}
#td2{
	font: Tahoma, Geneva, sans-serif;
	font-size:46px;
	color:#6F1200;
	font-weight:bold;
	border-bottom:1px solid #666;
}
a{
	font-style:none;
	text-decoration:none;
}
h2{
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:bold;
	color:#1a1a1a;
	font-size:60px;
}

#tablen{
	margin-top: 250px;
}
#bar{
	width:1080px;
	height:250px;
	background-image: linear-gradient(left bottom, rgb(194,0,0) 1%, rgb(172,0,0) 51%, rgb(150,0,0) 76%);
background-image: -o-linear-gradient(left bottom, rgb(194,0,0) 1%, rgb(172,0,0) 51%, rgb(150,0,0) 76%);
background-image: -moz-linear-gradient(left bottom, rgb(194,0,0) 1%, rgb(172,0,0) 51%, rgb(150,0,0) 76%);
background-image: -webkit-linear-gradient(left bottom, rgb(194,0,0) 1%, rgb(172,0,0) 51%, rgb(150,0,0) 76%);
background-image: -ms-linear-gradient(left bottom, rgb(194,0,0) 1%, rgb(172,0,0) 51%, rgb(150,0,0) 76%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	right top,
	color-stop(0.01, rgb(194,0,0)),
	color-stop(0.51, rgb(172,0,0)),
	color-stop(0.76, rgb(150,0,0))
);
box-shadow: 1px -1px 20px 1px;
}
#callwaiter{
	padding-top:164px;
}
#logorests{
	padding-top: 30px;
	float:left;
	padding-left:60px;
}
#total{
	float:right;
	margin-right:60px;
	width:316px;
	height:165px;
	background: #FFF;
	border-radius:0 0 25px 25px;
	font:Tahoma;
	font-size:75px;
	font-weight:bold !important;
	box-shadow: 0px 8px 20px 1px;
}
#curen{
	font-size:56px;	
}
#totalword{
	text-align:left;
	padding-left:30px;
	padding-top:20px;
	font:Tahoma;
	font-weight:bold;
	font-size:36px;
}
	

footer{
	position:absolute;
	bottom:39px;
	left:35%
}

#bot-menu{
	height:144px;
	background-image: linear-gradient(left bottom, rgb(194,0,0) 1%, rgb(172,0,0) 51%, rgb(150,0,0) 76%);
background-image: -o-linear-gradient(left bottom, rgb(194,0,0) 1%, rgb(172,0,0) 51%, rgb(150,0,0) 76%);
background-image: -moz-linear-gradient(left bottom, rgb(194,0,0) 1%, rgb(172,0,0) 51%, rgb(150,0,0) 76%);
background-image: -webkit-linear-gradient(left bottom, rgb(194,0,0) 1%, rgb(172,0,0) 51%, rgb(150,0,0) 76%);
background-image: -ms-linear-gradient(left bottom, rgb(194,0,0) 1%, rgb(172,0,0) 51%, rgb(150,0,0) 76%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	right top,
	color-stop(0.01, rgb(194,0,0)),
	color-stop(0.51, rgb(172,0,0)),
	color-stop(0.76, rgb(150,0,0))
);

width:100%;
left: 0px;
position: absolute;
bottom: 0px;
	
	
}
#botment{
	background:transparent;
	border:none;
}

#botment1{
	border-left:1px solid #7B0202;
	width:auto;
	alignment-adjust:middle;
	outline-color: invert;
 outline-style: none;
 outline-width: medium;
}
