<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/stylemanage.css">
		<link rel="stylesheet" type="text/css" href="/static/bootstrap.css">
	</head>
	<body>
		{% block content %}
		:)
		{% endblock %}
	</body>
</html>