{% extends 'base.html' %}
{% block content %}
<img src="/static/man-05.png"/><h1>management</h1>
<div id="waiter">
	<div>
		<h3 id="addwaiter">Add Waiter</h3>
		<form action="/manage/manage/" method="post">
			{% csrf_token %}
			{{ formw.as_p }}
			<button id="btnsubmit" class="gbutton"><img src="/static/btnsubmit.png" />
			</button>
		</form>
	</div>
	<div id="addtable">
		<h3 id="addwaiter">Add Table</h3>
		<form action="/manage/manage/" method="post">
			{% csrf_token %}
			{{ formt.as_p }}
			<button id="btnsubmit" class="gbutton"><img src="/static/btnsubmit.png" />
			</button>
		</form>
	</div>
</div>
<div id="waiterlist">
	<table width="100%" cellspacing="2" cellpadding="2">
		{% for waiter in waiters %}
		<tr>
			<td>{{waiter.name}}</td>
			<td align="right"><a href="/manage/delete/{{waiter.id}}">
			<button id="deletebtn" class="gbutton">
				<img  src="/static/man-03.png"/>
			</button></a></td>
		</tr>
		{% endfor %}
	</table>
</div>
<div id="tablelist">
	<table width="100%" cellspacing="2" cellpadding="2">
		{% for table in tables %}
		<tr>
			<td>{{table.num_table}}</td>
			<td><a href="/manage/deletetable/{{table.num_table}}">
			<button id="deletebtn" class="gbutton">
				<img src="/static/man-03.png" />
			</button></a></td>
			<td>{{table.waiter.name}}</td>
			<form action="/manage/assign/{{table.num_table}}/">
				<td>
				<select name="waiter_assign">
					{% for waiter in waiters %}
					<option value="{{waiter.id}}"> {{ waiter.name }} </option>
					{% endfor %}
				</select></td>
				<td  align="right">
				<button class="gbutton"><img src="/static/man-04.png" style="background-color: transparent;"/>
				</button></input></td>
			</form>
		</tr>
		{% endfor %}
	</table>

	<a href="/manage/logout/">
	<button class="btn">
		Logout
	</button></a>

	{% endblock %}
