{% extends 'base2.html' %}
{% block content %}
<div id="warmp1">
	<header>
		<div id="bar" align="center">
			<div id="logorests">
				<img src="/static/img/main-22.png" />
			</div>
			<div id="total">
				<div id="totalword">
					Total
				</div>
				457<span id="curen">₪</span>
			</div>
		</div>
	</header>
	<div id="conten1t" align="center">
		<div id="callwaiter" align="center">
			<form action="/order/{{num_table}}/Order">
				<input type="submit" id="but2" width="609" height="609" name="testing"/>
		</div>
		</form>
		<form action="/menu/{{num_table}}">
			<div id="buttons2" align="center">
				<a  href="/ordermenu/{{num_table}}"><img id="bb1" src="/static/img/main-26.png"/></a>
		</form>
		<a href="/order/{{num_table}}/Check"><img src="/static/img/main-27.png"/></a>

	</div>
	<div id="banner">
		<a href="#"><img src="/static/img/ad-28.png"/></a>
	</div>
</div>

</div>
{% endblock %}
