{% extends 'base2.html' %}
{% block content %}
<div id="warmp1">
	<header>
		<div id="bar" align="center">
			<div id="logorests">
				<img src="/static/img/main-22.png" />
			</div>
			<div id="total">
				<div id="totalword">
					Total
				</div>
				457<span id="curen">₪</span>
			</div>
		</div>
	</header>
	<div id="conten1t" align="center">
		<div id="buttons-cat" align="center">
			<table width="100%" border="0" cellspacing="2" cellpadding="2">
				<tr>
					<td id="men-cat"><a  href="#"><img  src="/static/img/cat-30.png" alt="sandwishes"/></a></td>
				</tr>
				<tr>
					<td id="men-cat"><a  href="#"><img  src="/static/img/cat-31.png" alt="sandwishes"/></a></td>
				</tr>
				<tr>
					<td id="men-cat"><a  href="#"><img src="/static/img/cat-32.png" alt="sandwishes"/></a></td>
				</tr>
				<tr>
					<td id="men-cat"><a  href="#"><img src="/static/img/cat-33.png" alt="sandwishes"/></a></td>
				</tr>
			</table>

		</div>
	</div>

	<footer id="bot-menu">
		<table width="100%" border="0" cellspacing="1" cellpadding="1">
			<tr>
				<td id="botment1" >
				<button id="botment"><img src="/static/img/men1-34.png" />
				</button></td>
				<td id="botment1">
				<button id="botment"><img src="/static/img/men1-35.png" />
				</button></td>
				<td id="botment1">
				<button id="botment"><img src="/static/img/men1-38.png" />
				</button></td>
				<td id="botment1">
				<button id="botment"><img src="/static/img/men1-36.png" />
				</button></td>
				<td id="botment1">
				<button id="botment">
					<a href="/mainmenu/{{num_table}}"><img src="/static/img/men1-37.png" /></a>
				</button></td>

			</tr>
		</table>
	</footer>

</div>

{% endblock %}
