{% extends 'base.html' %}
{% block content %}
<script>
	setTimeout(function() {
		window.location.reload(1);
	}, 5000); 
</script>
{% for waiter in waiters %}
<div style="float : left; width : 10%;" id="tablewaiter">
	<table>
		<tr>
			<th>{{waiter.name}}</th>
		</tr>
		{% for x,y in orders %}
		{% if x.id == waiter.id %}
		{% for order in y %}
		<tr>
			<td > {% if order.choices == 'Order' %} <a href="/deleteorder/{{order.id}}">
			<button class="btn-warning" style="width : 110px; margin-left : 5px;">
				{{order.choices}},{{order.table_id}}
			</button></a> {% elif order.choices == 'Check' %} <a href="/deleteorder/{{order.id}}">
			<button class="btn-info" style="width : 110px; margin-left : 5px;">
				{{order.choices}},{{order.table_id}}
			</button></a> {% else %} <a href="/deleteorder/{{order.id}}">
			<button class="btn-success" style="width : 110px; margin-left : 5px;">
				{{order.choices}},{{order.table_id}}
			</button></a> {% endif %} </td>
		</tr>
		{% endfor %}
		{% endif %}
		{% endfor %}
	</table>
</div>
{% endfor %}

{% endblock %}
